<div class="{{ rootElementClass }} {{ color }}">
    {% if link.hasContent() %}
    {{ renderer.component(link) }}
    {% endif %}
    <div class="{{ 'image'|bemClass }}">
        {{ renderer.component(image) }}
    </div>
    <div class="{{ 'text'|bemClass }}">
        {{ renderer.component(text) }}
    </div>
    {% if link.hasContent() %}
        </a>
    {% endif %}
</div>
